body {
    font-family: monospace;
    background-color: #fff;
    color: #333; /* text color */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    text-align: center;
}

.sticky-header {
    position: sticky;
    top: 0;
    
    z-index: 1000;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.logo-img {
    /* max-width: 45%; Set maximum width */
    width: 40%;
    height: auto; /* Let the height adjust proportionally based on the width */
    margin: 0 auto; /* Center the image horizontally */
    display: block;
}

.header {
    text-align: center;
    margin: 0;
    padding: 0;
}

.logs-container {
    max-width: 800 0;
    max-height:max-content;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 250%;
}

h2 {
    color: #333;
    text-align: center;
    font-weight: lighter;
    font-size: xx-large;
}

/* container class for placeholder at bototm */
.container {
    background-color: #f7f7f7; /* Placeholder background color */
    border: 2px solid #ccc; /* Placeholder border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    margin-bottom: 20px; /* Add margin between containers */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

/* Add styles for scrollable container */
.scrollable-container {
    /* padding-top: 80px; */
    max-height: 500px; /* Define max height for the scrollable container */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 5px solid #333; /* Add border */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 10px; /* Add margin between containers */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

/* ensure the logs table fills container */
#logs {
    border-collapse: collapse;
    width:100%;
}

/* ensure logs container fills scrollable contianer */
#logs-container {
    width: 100%;
    height:100%;
   
}


#logs th,
#logs td {
    border: 2px solid black; /* Added border */
    padding: 8px;
}

#logs th {
    background-color: #ccc; /* Header background color */
}

.log-entry:hover {
    background-color: #c8c8c8;
}

.log-protocol {
    color: #000000; /* Default color for protocol */
    font-weight: bolder;
    text-align: center;
}

/* Define specific colors for each protocol */
.log-protocol.ICMP {
    color: #00af3a; /* Green for ICMP */
}

.log-protocol.TCP {
    color: #007bff; /* Blue for TCP */
}

.log-protocol.UDP {
    color: #dc3545; /* Red for UDP */
}

.log-destination {
    font-weight: bolder;
    text-align: center;
}

.log-source {
    font-weight: bolder;
    text-align: center;
}

.log-timestamp {
    font-weight: bolder;
    text-align: center;
}

/* space below placeholder objects */
.container {
    margin-bottom: 30px;
}

/* style for refresh button */
.refresh-button-container {
    text-align: center;
    margin-bottom: 20px;
}

#refresh-button {
    background-color: skyblue; /* Blue background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    font-family: monospace;
    font-weight: bold;
    font-size: 16px; /* Font size */
    cursor: pointer; /* Add cursor pointer */
    transition: all 0.3s ease; /* Smooth transition for all properties */
    border-radius: 20px; /* Rounded corners */
}

/* Hover effect */
#refresh-button:hover {
    background-color: blue; /* Darker blue on hover */
    transform: scale(1.10);
}

#terminateButton {
    background-color: #dc3545; /* Red background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    font-family: monospace;
    font-weight: bold;
    font-size: 16px; /* Font size */
    cursor: pointer; /* Add cursor pointer */
    transition: all 0.3s ease; /* Smooth transition for all properties */
    border-radius: 20px; /* Rounded corners */
}

/* Hover effect */
#terminateButton:hover {
    background-color: #ff4d6d; /* Darker red on hover */
    transform: scale(1.10);
}

#startButton {
    background-color: #1e6658; /* Blue background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    font-family: monospace;
    font-weight: bold;
    font-size: 16px; /* Font size */
    cursor: pointer; /* Add cursor pointer */
    transition: all 0.3s ease; /* Smooth transition for all properties */
    border-radius: 20px; /* Rounded corners */
}

/* Hover effect */
#startButton:hover {
    background-color: #32aa93; /* Darker blue on hover */
    transform: scale(1.10);
}

/* Container for the chart and heatmap */
.container-wrapper {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: flex-start; /* Align items at the top */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}

/* Container for individual chart and heatmap */
.chart-container {
    width: 45%; /* Set a fixed width for both containers */
    margin: 0 10px; /* Add some space between containers */
    padding: 20px;
    margin-bottom: 25px;
    overflow: hidden; /* Add overflow property to hide overflowing content */
    border: 5px solid #333; /* Add border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    font-size: large;
    text-align: center;

}


#pie-chart-container{
    text-align: center; /* Center align content */
    margin: 20px auto; /* Add margin */
    padding: 20px;
    border: 5px solid #333; /* Add border */
    border-radius: 10px; /* Rounded corners */
    
}

/* pie chart itself (inside container) */
#protocolChart {
    width: 100%; /* Set the width to 100% */
    max-height: 350px; /* Set maximum height to prevent excessive expansion */
    border-radius: 10px; /* Rounded corners */
    
}

/* port - scanner */
#port-scan-container {
    text-align: center; /* Center align content */
    margin: 20px auto; /* Add margin */
    padding: 20px;
    border: 5px solid #333; /* Add border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

/* input fields */
#target-host,
#target-ports {
    width: calc(50% - 10px); /* Set width for input fields */
    margin-right: 10px; /* Add margin between fields */
    position: fixed 0;
    padding: 15px;
    margin-bottom: 10px; /* Add margin below input fields */
    border: 2px solid #333;
    border-radius: 5px;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
}
#target-ports {
    margin-right: 0;
}

#port-scan-btn {
    width: 200px; /* Set button width */
    margin-top: 10px; /* Add margin above the button */
    padding: 10px 20px;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    background-color: #1e6658;
    color: #fff;
    border: none;
}

#port-scan-btn:hover {
    background-color: #32aa93; /* Darker blue on hover */
    transform: scale(1.10);
}

#port-scan-results {
    font-family: monospace; /* Use monospace font */
    font-size:large; /* Adjust font size */
    font-weight:800; /* Make the text bold */
    color: red; /* Set text color to red */
}

/* Add styles for threat detection section */
#threat-container {
    text-align: center; /* Center align content */
    margin: 20px auto 80px; /* Add extra margin at the bottom */
    padding: 20px;
    border: 5px solid #333; /* Add border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}



#threat-detect-btn {
    width: 200px; /* Set button width */
    margin-top: 10px; /* Add margin */
    padding: 10px 20px;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    background-color: #1e6658;
    color: #fff;
    border: none;
}

#threat-detect-btn:hover {
    background-color: #32aa93; /* Darker blue on hover */
    transform: scale(1.05); /* Slight scale on hover */
}


#threat-detection-results {
    font-family: monospace; /* Use monospace font */
    font-size: 1.2em; /* Adjust font size */
    font-weight: bold; /* Make the text bold */
    color: red; /* Set text color to red */
}

/* Footer styles */
footer {
    background-color: #333; /* Light grey footer */
    color: #ccc; /* Dark grey text */
    text-align: center;
    font-family: monospace;
    font-size: medium;
    padding: 2px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999; /* Ensure footer stays on top of other content */
}

.creator {
    font-weight: bold; /* Make text bold */
    color: #ccc;
}